@import url('https://fonts.googleapis.com/css?family=Roboto');

:global {
  a {
    color: #333;
  }
  a.active {
    color: #eda821;
  }
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}